# exclude everything in BoidSim
BoidSim/*

# except 4 files
!BoidSim/BoidSim/frag.shader
!BoidSim/BoidSim/vert.shader
!BoidSim/BoidSim/Shader.h
!BoidSim/BoidSim/Main.cpp
!BoidSim/BoidSim/flat_hash_map.hpp
