# Dependencies
BoidSim/Dependencies
BoidSim/glad.c
BoidSim/BoidSim/glad.c

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BoidSim/BoidSim/frag.shader
BoidSim/BoidSim/Debug/vc141.pdb
BoidSim/BoidSim/Debug/vc141.idb
BoidSim/BoidSim/Debug/BoidSim.tlog/unsuccessfulbuild
BoidSim/BoidSim/Debug/BoidSim.tlog/link.write.1.tlog
BoidSim/BoidSim/Debug/BoidSim.tlog/link.read.1.tlog
BoidSim/BoidSim/Debug/BoidSim.tlog/link.command.1.tlog
BoidSim/BoidSim/Debug/BoidSim.tlog/link-rc.write.1.tlog
BoidSim/BoidSim/Debug/BoidSim.tlog/link-rc.read.1.tlog
BoidSim/BoidSim/Debug/BoidSim.tlog/link-cvtres.write.1.tlog
BoidSim/BoidSim/Debug/BoidSim.tlog/link-cvtres.read.1.tlog
BoidSim/BoidSim/Debug/BoidSim.tlog/CL.write.1.tlog
BoidSim/BoidSim/Debug/BoidSim.tlog/CL.read.1.tlog
BoidSim/BoidSim/Debug/BoidSim.tlog/CL.command.1.tlog
BoidSim/BoidSim/Debug/BoidSim.tlog/BoidSim.lastbuildstate
BoidSim/BoidSim/Debug/BoidSim.log
BoidSim/BoidSim/BoidSim.vcxproj.user
BoidSim/BoidSim/BoidSim.vcxproj.filters
BoidSim/BoidSim/BoidSim.vcxproj
BoidSim/BoidSim/.DS_Store
BoidSim/BoidSim.sln
BoidSim/.vs/VSWorkspaceState.json
BoidSim/.vs/slnx.sqlite
BoidSim/.vs/ProjectSettings.json
BoidSim/.vs/BoidSim/v15/ipch/AutoPCH/da6bf1eddfdc7b4a/GLAD.ipch
BoidSim/.vs/BoidSim/v15/ipch/AutoPCH/d0e4823ccf03ba9c/MAIN.ipch
BoidSim/.vs/BoidSim/v15/ipch/AutoPCH/bae484375b65aad1/GLAD.ipch
BoidSim/.vs/BoidSim/v15/ipch/AutoPCH/981d08dd92f17afc/MAIN.ipch
BoidSim/.vs/BoidSim/.DS_Store
BoidSim/.vs/.DS_Store
BoidSim/.DS_Store
BoidSim/BoidSim/x64/.DS_Store
BoidSim/BoidSim/x64/Debug/BoidSim.Build.CppClean.log
BoidSim/BoidSim/x64/Debug/BoidSim.log
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/BoidSim.lastbuildstate
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/CL.command.1.tlog
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/CL.read.1.tlog
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/CL.write.1.tlog
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/link-cvtres.read.1.tlog
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/link-cvtres.write.1.tlog
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/link-rc.read.1.tlog
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/link-rc.write.1.tlog
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/link.command.1.tlog
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/link.read.1.tlog
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/link.write.1.tlog
BoidSim/BoidSim/x64/Debug/BoidSim.tlog/unsuccessfulbuild
BoidSim/BoidSim/x64/Debug/vc141.idb
BoidSim/BoidSim/x64/Debug/vc141.pdb
BoidSim/Debug/BoidSim.pdb
BoidSim/x64/.DS_Store
BoidSim/x64/Debug/BoidSim.pdb
examples/norules.gif
README.md
